.blog-sidebar{
    &__search{
        position: relative;
        padding-right: 0px;
        input{
            border-radius: 0; 
            background-color:transparent; 
            border: 1px solid #656565;
            &:focus, &:hover{background-color: transparent;}
        }
        button{
            background-color: rgba(255,255,255,0) !important;
            border: 1px solid #656565;
            position: absolute !important;      
            right: 0;
            &:focus, &:hover{
                background-color: rgba(255,255,255,0.05) !important;
                border: 1px solid #656565;
            }
        }
    }
    &__social{
        a{color: #656565;}
    }

 

    
}