.card-course{
    height: 600px;
    margin-bottom: 20px;
    border-radius: 0;
    text-align: center;
    background: #141414;
    color: #fff;
    justify-content: flex-end;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    background-position: top 0px right 0px;
    position: relative;
    background-repeat: no-repeat;
    border: 0;
    transition: all 0.2s linear;
    .up-link{
        z-index: 3000;
        position: relative;
    }
    &_all_height{
        color: #fff;
        text-decoration: none;
        z-index: 2;
        height: 100%;
        justify-content: flex-end;
        display: flex;
        align-items: flex-end;
        transition: all 0.2s linear;
        &:hover{
            color: #fff;
        }
    }


    &:focus, &:focus-within{
        box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.5);
         outline-color: var(--bs-primary);
         outline-style: solid;
         outline-width: 2px;
         outline-offset: 1px;
         transition: all 0.2s linear
    }
    
    &:hover{
        box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.2s linear;
        transform: translateY(-10px);
        &::before{ 
            background-image: linear-gradient(to top, rgba(255,255,255,1) 30%, rgba(0, 0, 0, 0) 80%);
            transition: all 0.2s linear;
            
        }
        .card-course_all_height{
            color: black;
        }
    }

    &::before{
        content: "";
        background-image: linear-gradient(to top, rgba(0,0,0,1) 30%, rgba(0, 0, 0, 0) 80%);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        transition: all 0.2s linear
    }

    &_is-new::after{
        content: "NOVO";
        width: 54px;
        height: 54px;
        background-color: #fff;
        top: 15px;
        z-index: 3;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        color: #000;
        line-height: 0;
        font-weight: 700;
        font-size: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    &-content{
        z-index: 2;
        width: 100%;
        img{
            width: 112px;
            height: 112px;
            border-radius: 50%;
            margin-bottom: 15px;
       }
       .line{
        width: 80%;
        height: 1px;
        background: var(--bs-primary);
        margin-bottom: 15px;
       }
       h3{
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 5px;
       }
       p{
           font-size: 18px;
           margin: 0 30px 30px 30px;
       }
       .time{
        margin-bottom: 25px;
        display: block;
       }
    }
}