

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }


/* header*/

.admin-bar {
  .site-header, 
  .app-mobile-sidebar{
    top: 30px;
  }
  
}
 

header{
    &.navbar-expand-md .navbar-nav{ margin-left: auto;}
    &.navbar-dark .navbar-nav .nav-link{
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        margin-right: 35px;
        &:hover{
            color: rgba(255, 255, 255, 0.55)
        }
        &.active{
            color: var(--bs-primary)
        }
    }

    .current-menu-item{
        a{
          color: var(--bs-primary) !important;
          &:hover{
            color: rgba(255, 255, 255, 0.55) !important
          }
        }
     }
 
    .menu-hamburger{
      margin-right: 20px;
      background: transparent;
      color: #fff;
      border: none;
      padding: 0;
      /* margin: 0; */
      font-size: 2rem;
      &:hover, &:focus{
        background: transparent;
        color: #fff;
      }
    }

    .navbar-brand {
      background-image: url(../../assets/images/brand.png);
      width: 300px;
      height: 42px;
      background-size: cover;
      background-repeat: no-repeat;

      @include media-breakpoint-up(md) { 
        width: 334px;
        height: 47px;
      }
  }
    nav{

      .callToAction a{
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        width: 160px;
        padding-top: 10px;
        padding-bottom: 10px;

        border: none;
        text-transform: uppercase;
        color: #fff; 
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);

        line-height: 1.5; 
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;

        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        
            // btn btn-primary d-xl-inline-block ml-auto my-2 my-lg-0 ms-xl-3 px-4
           
      }
    }
}


 


/* The side navigation menu */

.app-content-overlayer { 
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.2s linear;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  &.is-show{
    z-index: 4000;

  }
}

.app-mobile-sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: -1;
  top: 0;
  right: -250px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  &.is-open {
      z-index: 5000;
      right: 0;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 0px;
  }
  
  // a {
  //   padding: 8px 8px 8px 32px;
  //   text-decoration: none;
  //   font-size: 25px;
  //   color: #818181;
  //   display: block;
  //   transition: 0.3s;
  //   &:hover {
  //     color: #f1f1f1;
  //   }
  // }

  .mobile-menu{
    padding: 0 20px;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        margin-bottom: 18px;

        .btn-destaque{
          background: #e71d7c;
          border-radius: 3.2px;
          line-height: 25px;
          margin: 0 20px;
          min-width: 160px;
          text-align: center;
        }
        a{
          font-weight: 600;
          text-transform: uppercase;
          color: white;
          font-size: 14px;
          font-family: 'Raleway', sans-serif;
           &:hover{
              color: rgba(255, 255, 255, 0.55)
          }
          &.active{
              color: var(--bs-primary)
          }
        }
      }
    }
   }
 
 
  }