.hero{
    min-height: calc(100vh - 30px);
    height: 600px;
    @include media-breakpoint-up(sm) {}
    @include media-breakpoint-up(md) {
      min-height: 100vh;
      height: 900px;
    }
    @include media-breakpoint-up(lg) {}

    background-size: cover;
    align-items: flex-end;
    display: flex;
    padding-bottom: 80px;
    font-family: "Raleway", sans-serif;

    position: relative;
    overflow: hidden;


    &-button{
      border: 2px solid var(--bs-primary);
      font-size: 24px;
      font-weight: 700;

      &:hover{
        border-color: var(--bs-primary);
        color: var(--bs-primary);
        background-color:white ;
      }
    }
    h1{
        //  font-size: 68px;
         font-weight: 700;
         color: #fff;
         .br{
           @include media-breakpoint-up(sm) { display: block;}
         }
    }

    &__content{

    }

    .container {
        position: relative;
        z-index: 2;
      }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
      }

    //   @media (pointer: coarse) and (hover: none) {
    //     header {
    //       background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    //     }
    //     header video {
    //       display: none;
    //     }
    //   }



}