.list-invist{
    list-style: none; 
    margin-bottom: 20px;
   li {
        border-left: 3px solid #e71d7c;
        color: #fff;
        position: relative;
        overflow: hidden;
        font-weight: 700;
        padding: 2.7rem;
        background-color: #131313;
        margin-bottom: 1.1rem;

        &:last-child {
            margin-bottom: 0;
        }
        span{
            z-index: 1;
            position: relative;
        }
        &__text{ font-size: 24px;
            
            .number{  font-size: 36px;}
        }
        
        &:hover{
            &:after{
                width: 100%;
                z-index: 0;
            }
        }

        &::after{
            content: "";
            background: var(--bs-primary);
            height: 100%;
            position: absolute;
            width: 0%;
            transition: all 0.25s linear;
            top: 0;
            left: 0;
        }

       }
}

