.ui-carousel {
    font-family: 'Raleway', sans-serif;

   .lead{ font-size: 20px; font-weight: 300;}

   figure{
    margin: 0 0 1rem;

    @media (min-width: 375px) {
        margin: 0 0 1rem;
    }
    @media (min-width: 425px) {
        margin: 0 2rem 1rem;
    }
    @media (min-width: 768px) {
        margin: 0 2rem 1rem;
    }


        blockquote{
            p{
                @include media-breakpoint-down(md) { font-size: 1rem; }
            }
        }


        figcaption{
            display: flex;
            flex-direction: column;
            @media (min-width: 375px) {}
            @media (min-width: 425px) {}
            @media (min-width: 768px) {}
            @media (min-width: 1024px) {
                flex-direction: row;
                align-items: center;
            }
            cite{
                margin-left: 0 !important;
                @media (min-width: 1024px) {
                    margin-left: 15px !important;
                }
             }
        }
    }

}


.ui-carousel .carousel-item .row {
    max-width: 960px;
    // align-items: center;
    // justify-content: center;
    // align-content: center;
    // margin: auto;
}


.carousel-control-prev,
.carousel-control-next{
    top: -430px;
    @media (min-width: 375px) {
        top: -300px;
    }
    @media (min-width: 425px) {
        top: -270px;
    }
    @media (min-width: 768px) {
        top: -220px;
    }
    @media (min-width: 1024px) {
        top: 30px;
    }

    @include media-breakpoint-up(md) { font-size: 1rem; }
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    position: relative;
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
    content: "";
    background: #464646;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    z-index: -1;
    left: -50%;
    border-radius: 50%;
    margin-left: 7px;
}




.picture-person {
    width: 160px;
    height: 160px;
    max-width: 100%;
    background-position:center center;
    background-size: cover;
    position: relative;
    margin: 15px !important;
    @include media-breakpoint-up(lg) {
        width: 292px;
        height: 292px;
    }
    // @include media-breakpoint-down(md) {
    //      margin: 15px auto 35px auto !important;
    //      width: 232px;
    //      height: 232px;
    // }
    &__container{
        transform: translateY(0);
    }
}

.picture-person:after {
    position: absolute;
    // border: 1px solid red;
    width: 47px;
    height:38px;
    top: -15px;
    color: #fff;
    left: 30px;
    background-image: url("../../assets/images/quote.svg");
    background-repeat: no-repeat;
    content: "";
  z-index: 1;
    }

.picture-person:before {
    content: "";
    position: absolute;
    width: 92px;
    height: 92px;
    right: -8px;
    bottom:-9px;
    border-width: 0 0 100px 100px;
    z-index: -1;
    border-style: solid;
    border-color: transparent transparent var(--bs-primary) transparent;
    @include media-breakpoint-up(md) {
        width: 172px;
        height: 172px;
        right: -15px;
        bottom:-15px;
        border-width: 0 0 172px 172px;
    }
}


.carousel-indicators{
    bottom: -50px;
    @media (min-width: 375px) {}
    @media (min-width: 425px) {}
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {}

    li{
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
}