.ui-title{ padding: 50px 0; text-align: center;}
.ui-title-main{
    font-size: 2.625rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif; 
}
.ui-title-main--italic{
    text-transform: initial;
    font-size: 3rem; 
    font-family: 'Raleway', sans-serif; 
    font-style: italic;
}
.ui-title-sub{ 
    color: #53bcd6;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase; 
    font-family: 'Raleway', sans-serif; 
    @include media-breakpoint-up(md) { 
        font-size: 1.25rem;
    }
}